.header{
    background-color: #00d1b2;
}
.login-wrap{
    background: rgba(56, 157, 170, 0.82);;
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #1fb5ad;
}
.el-upload--text em {
    color: #1fb5ad;
}
.pure-button{
    background: #1fb5ad;
}
.vue-datasource .btn-primary {
    color: #fff;
    background-color: #1fb5ad !important;
    border-color: #1fb5ad !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #1fb5ad !important;
    border-color: #1fb5ad !important;
}